* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  color: #0f0d0e;
}

p {
  padding-bottom: 10px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.content__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 65px;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header styles start */

.header {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: 61px;
  background-color: #4d544d;
  background-image: url('../images/banner-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header:before {
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 27px;
  margin-bottom: 100px;
}

/* Header logo */

.header__logo {
  width: 180px;
}

/* Header Nav */

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  list-style-type: none;
}

.header__item:nth-child(n + 2) {
  margin-left: 35px;
}

.header__link {
  font-size: 13px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  text-transform: uppercase;
  transition: text-decoration-color 0.3s;
}

.header__link:hover {
  text-decoration-color: rgba(255, 255, 255, 1);
}

/* Header Title */

.header__wrapper__title {
  display: flex;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  padding-bottom: 126px;
  font-size: 45px;
  line-height: 75px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* Header styles end */

/* Trends styles start */

.trends__title {
  position: relative;
  margin-bottom: 39px;
  font-size: 20px ;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  color: #0f0d0e;
}

.trends__title::after {
  content: '';
  position: absolute;
  top: 31px;
  left: calc(50% - 33px);
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
}

.trends__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1660px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 61px;
}

.trend {
  position: relative;
  width: calc(25% - 3px);
  height: 319px;
  margin-right: 4px;
  background-color: #414544;
}

.trend:last-child {
  margin-right: 0;
}

.trend::after {
  position: absolute;
  z-index: 1;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.trend__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.trend__content {
  position: absolute;
  z-index: 2;
  bottom: 18px;
  left: 18px;
  right: 18px;
  max-width: 370px;
  padding: 7.5% 8%;
  border: 3px solid #b59f5b;
}

.trend__tags__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.trend__tags__item {
  margin-right: 18px;
  list-style-type: none;
}

.trend__tags__link {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
  text-decoration: underline 0.15em rgba(181, 159, 91, 0);
  transition: text-decoration-color 0.3s;
}

.trend__tags__link:hover {
  text-decoration-color: rgba(181, 159, 91, 1);
}

.trend__title {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}

.trend__title__link {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.trend__title__link:hover {
  color: #b59f5b;
}

/* Trends styles end */

/* Main styles start */

.main {
  width: 67%;
  max-width: 780px;
}

/* Post */

.post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
}

.post:last-child {
  margin-bottom: 0;
}

.post__img {
  max-width: 380px;
  width: 50%;
  margin-right: 31px;
  padding-top: 1px;
}

.post__tags__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.post__tags__item {
  margin-right: 18px;
  list-style-type: none;
}

.post__tags__link {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
}

.post__tags__link:hover {
  text-decoration: underline;
}

.post__title {
  max-width: 335px;
  width: 100%;
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  color: #0f0d0e;
}

.post__title__link {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.post__title__link:hover {
  color: #b59f5b;
}

.post__desc {
  display: flex;
  margin-bottom: 45px;
}

.post__datetime {
  min-width: 80px;
  max-width: 100px;
  margin-right: 12px;
  font-size: 12px;
  font-weight: 400;
  color: #888888;
}

.post__author {
  font-size: 12px;
  font-weight: 700;
  color: #000000;
}

.post__text {
  max-width: 365px;
  width: 100%;
  line-height: 22px;
}

/* Main styles end */

/* Aside styles start */

.aside {
  position: relative;
  max-width: 270px;
  width: 32%;
}

.aside__title {
  position: relative;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease-in;
}

.aside__title::after {
  content: '';
  position: absolute;
  top: 26px;
  left: 106px;
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
}

/* Latest Posts */
.latest-posts {
  margin-bottom: 67px;
}

/* Latest Post */
.latest-post {
  position: relative;
  display: flex;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;
}

.latest-post__img {
  position: relative;
  top: 3px;
  width: 26%;
  max-width: 70px;
  min-width: 70px;
  max-height: 70px;
  margin-right: 18px;
  object-fit: cover;
  object-position: center center;
}

.latest-post__datetime {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.latest-post__title {
  padding-top: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.latest-post__link {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease-in;
}

.latest-post__link:hover {
  color: #b59f5b;
}

/* Search */
.search {
  display: flex;
  width: 100%;
  margin-bottom: 59px;
}

.search__group {
  width: 82%;
  max-width: 222px;
  height: 48px;
}

.search__input {
  width: 100%;
  height: 100%;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 13px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  border: none;
  background-color: #f4f7f6;
  outline: none;
}

.search__input:focus {
  border: 1px solid #b59f5b;
}

.search__button {
  flex-shrink: 0;
  width: 20%;
  max-width: 48px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  background-image: url('../svg/search.svg');
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in;
}

.search__button:hover {
  background-color: #323232;
}

/* Subscribe */
.subscribe {
  margin-bottom: 58px;
}

.subscribe__input {
  width: 100%;
  height: 48px;
  margin-bottom: 17px;
  padding-left: 17px;
  font-size: 13px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  border: none;
  background-color: #f4f7f6;
  outline: none;
}

.subscribe__input:focus {
  border: 1px solid #b59f5b;
}

.subscribe__button {
  width: 100%;
  height: 48px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b59f5b;
  border: none;
  transition: all 0.3s ease-in;
}

.subscribe__button:hover {
  background-color: #323232;
}

/* Tags */
.tags {
  margin-bottom: 52px;
}

.tags__title {
  margin-bottom: 37px;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
}

.tags__item {
  list-style-type: none;
}

.tags__link {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 6px;
  padding: 3px 13px;
  font-size: 12px;
  color: #0f0d0e;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;
  transition: all 0.3s ease-in;
}

.tags__link:hover {
  border: 3px solid #b59f5b;
}

/* Categories */

.categories__title {
  margin-bottom: 23px;
}

.categories__item {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  list-style-type: none;
  border-bottom: 1px solid #eeeeee;
}

.categories__link {
  padding-right: 3px;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  transition: all 0.3s ease-in;
}

.categories__link:hover {
  color: #b59f5b;
}

.categories__amount {
  position: absolute;
  top: 3px;
  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
}

/* Aside styles end */

/* Products styles start */

.products__title {
  position: relative;
  margin-bottom: 39px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  color: #0f0d0e;
}

.products__title::after {
  content: '';
  position: absolute;
  top: 31px;
  left: calc(50% - 33px);
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
}

.products__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto 66px;
  padding: 0 15px;
}

.product {
  position: relative;
  max-width: 347px;
  width: 33%;
  min-height: 441px;
}

.product__img {
  max-width: 300px;
  width: 86%;
  height: 202px;
  margin-left: 7%;
  margin-right: 7%;
  object-fit: cover;
  object-position: center center;
}

.product__wrapper {
  position: absolute;
  top: 172px;
  max-width: 347px;
  width: 100%;
  min-height: 267px;
  padding: 52px 20px 20px 20px;
  border: 3px solid #b59f5b;
}

.product__title {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
}

.product__text {
  padding-bottom: 23px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}

.product__link {
  color: #b59f5b;
  text-decoration: underline 0.15em rgba(181, 159, 91, 0);
  transition: text-decoration-color 0.3s;
}

.product__link:hover {
  text-decoration-color: rgba(181, 159, 91, 1);
}

.product__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product_button {
  width: 140px;
  height: 49px;
  padding: auto;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.product_button:hover {
  background-color: #323232;
}

.price {
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
  color: #0f0d0e;
  font-weight: 700;
}

.price__prior {
  font-size: 14px;
  text-decoration: line-through;
}

.price__new {
  font-size: 20px;
}

/* Products styles end */

/* Footer styles start */

.socials {
  margin-bottom: 69px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 5px;
  text-align: center;
  background-color: #f4f7f6;
}

.socials__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.socials__item {
  display: inline-block;
  margin-right: 20px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.socials__link__dribbble {
  background-image: url(../svg/001-dribbble.svg);
}

.socials__link__pinterest {
  background-image: url(../svg/002-pinterest.svg);
}

.socials__link__tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyrights {
  margin-bottom: 40px;
  padding-left: 9px;
  font-size: 12px;
  text-align: center;
  color: #999999;
  font-weight: 700;
}

.copyrights__link {
  text-decoration: none;
  color: inherit;
}

/* Footer styles end */