* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  color: #0f0d0e;
}

p {
  padding-bottom: 10px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.content__wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto 70px;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header styles start */

.header {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: 61px;
  background-color: #4d544d;
  background-image: url('../images/banner-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header:before {
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 27px;
  margin-bottom: 101px;
}

/* Header logo */

.header__logo {
  width: 180px;
}

/* Header Nav */

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  list-style-type: none;
}

.header__item:nth-child(n + 2) {
  margin-left: 35px;
}

.header__link {
  font-size: 13px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.header__link:hover {
  text-decoration: underline;
}

/* Header Title */

.header__wrapper__title {
  display: flex;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  padding-bottom: 126px;
  font-size: 45px;
  line-height: 75px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* Header styles end */