* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  color: #0f0d0e;
}

p {
  padding-bottom: 10px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.content__wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto 70px;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header styles start */

.header {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: 61px;
  background-color: #4d544d;
  background-image: url('../images/banner-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header:before {
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 27px;
  margin-bottom: 100px;
}

/* Header logo */

.header__logo {
  width: 180px;
}

/* Header Nav */

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  list-style-type: none;
}

.header__item:nth-child(n + 2) {
  margin-left: 35px;
}

.header__link {
  font-size: 13px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.header__link:hover {
  text-decoration: underline;
}

/* Header Title */

.header__wrapper__title {
  display: flex;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  padding-bottom: 126px;
  font-size: 45px;
  line-height: 75px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* Header styles end */

/* Trends styles start */

.trends__title {
  position: relative;
  margin-bottom: 39px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  color: #0f0d0e;
}

.trends__title::after {
  content: '';
  position: absolute;
  top: 31px;
  left: calc(50% - 33px);
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
}

.trends__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1660px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 61px;
}

.trend {
  position: relative;
  width: calc(25% - 3px);
  height: 319px;
  margin-right: 4px;
  background-color: #414544;
}

.trend:last-child {
  margin-right: 0;
}

.trend::after {
  position: absolute;
  z-index: 1;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.trend__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.trend__content {
  position: absolute;
  z-index: 2;
  bottom: 18px;
  left: 18px;
  max-width: 370px;
  padding: 7.5% 8.4%;
  border: 3px solid #b59f5b;
}

.trend__tags__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.trend__tags__item {
  margin-right: 18px;
  list-style-type: none;
}

.trend__tags__link {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
  transition: all 0.3s;
}

.trend__tags__link:hover {
  text-decoration: underline;
}

.post__tags__link:hover {
  text-decoration: underline;
}

.trend__title {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}

.trend__title__link {
  color: inherit;
  text-decoration: none;
}

.trend__title__link:hover {
  color: #b59f5b;
}

/* Trends styles end */

/* Main styles start */

.main {
  max-width: 780px;
  margin-right: 119px;
}

/* Post */

.post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
}

.post:last-child {
  margin-bottom: 0;
}

.post__img {
  min-width: 380px;
  width: 380px;
  margin-right: 31px;
  padding-top: 1px;
}

.post__tags__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.post__tags__item {
  margin-right: 18px;
  list-style-type: none;
}

.post__tags__link {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
}

.post__tags__link:hover {
  text-decoration: underline;
}

.post__title {
  width: 335px;
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  color: #0f0d0e;
}

.post__title__link {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.post__title__link:hover {
  color: #b59f5b;
}

.post__desc {
  display: flex;
  margin-bottom: 47px;
}

.post__datetime {
  min-width: 80px;
  max-width: 100px;
  margin-right: 12px;
  font-size: 12px;
  font-weight: 400;
  color: #888888;
}

.post__author {
  font-size: 12px;
  font-weight: 700;
  color: #000000;
}

.post__text {
  line-height: 22px;
}

/* Main styles end */